* {
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.result-anchor {
  position: relative;
}

.result-name {
  display: none;
  width:100px;
  position: absolute;
  bottom: 36px;
  left: -48px;
  background-color:white;
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px;
  overflow: hidden;
}

.show {
  display: block;
}

.home-station-select {
  position: fixed;
  bottom: 60px;
  left: 50%;
  margin-left: -125px;
  width: 250px;
  text-align: center;
}

.search-form {
  position: fixed;
  bottom: 37px;
  left: 50%;
  margin-left: -125px;
}

.search-input {
  width: 200px;
}

.stations-marker {
  position: relative;
}

.stations-marker-name {
  position: absolute;
  width: 100px;
  text-align: center;
  left: -35px;
  top: 35px;
  line-height: 14px;
}
