* {
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.result-anchor {
  position: relative;
}

.result-name {
  display: none;
  width:100px;
  position: absolute;
  bottom: 36px;
  left: -48px;
  background-color:white;
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px;
  overflow: hidden;
  line-height: 16px;
}

.show {
  display: block;
}

.home-station-select {
  position: fixed;
  bottom: 60px;
  left: 50%;
  margin-left: -125px;
  width: 250px;
  text-align: center;
}

.search-form {
  position: fixed;
  bottom: 37px;
  left: 50%;
  margin-left: -125px;
}

.search-input {
  width: 200px;
}

.stations-marker {
  position: relative;
}

.stations-marker-name {
  position: absolute;
  width: 100px;
  text-align: center;
  left: -35px;
  top: 35px;
  line-height: 14px;
}

.select-line-container-for-scroll {
  height: 100%;
  width: 30px;
  overflow: hidden;
}

.select-line-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 15px;
  top: 20px;
  bottom: 37px;
  width: 30px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: 17px;
}

.select-line-icon {
  width: 30px;
  cursor: pointer;
  margin-bottom: 8px;
  opacity: 0.5;
}

.active-select-line-icon {
  opacity: 1.0;
}

.options-button {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 100%;
  cursor: pointer;
}

.options-panel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 4;
  opacity: 0;
  transition: opacity 1s, visibility 1s;
  visibility: hidden;
}

.options-panel-container-active {
  visibility: visible;
  opacity: 1;
}

.options-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  width: 200px;
  height: 180px;
  background-color: white;
  border-radius: 15px;
}

.option-title {
  margin-bottom: 10px;
}

.option-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.option-button {
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

/*
 * Style for spinner
 */

 .loader-container {
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.3);
   position: fixed;
   top:0;
   left:0;
   z-index: 5;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .spinner {
  margin: 100px auto;
  width: 100;
  height: 80px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: rgb(1, 147, 255);
  height: 100%;
  width: 12px;
  display: inline-block;
  margin-right: 5px;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}


/*
 * End style for spinner
 * /
